<ul class="nav flex-column mt-3">
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
            <i class="fa-solid fa-gauge fa-fw"></i> Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Users" asp-action="Index">
            <i class="fa-solid fa-users fa-fw"></i> Users
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-building fa-fw"></i> Departments
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-user-tie fa-fw"></i> Employees
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-calendar-check fa-fw"></i> Attendance
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Categories" asp-action="Index">
            <i class="fa-solid fa-tags fa-fw"></i> Categories
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Products" asp-action="Index">
            <i class="fa-solid fa-boxes-stacked fa-fw"></i> Products
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Supplier" asp-action="Index">
            <i class="fa-solid fa-truck-field fa-fw"></i> Suppliers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-address-book fa-fw"></i> Customers
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-cart-shopping fa-fw"></i> Orders
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-money-bill-wave fa-fw"></i> Payments
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" asp-area="Admin" asp-controller="Reports" asp-action="Index">
            <i class="fa-solid fa-chart-pie fa-fw"></i> Reports
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="#">
            <i class="fa-solid fa-bell fa-fw"></i> Notifications
        </a>
    </li>
</ul>
